<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AgendarNueva</servlet-name>
        <servlet-class>Negocio.AgendarNueva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aprobar</servlet-name>
        <servlet-class>Negocio.Aprobar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletaSolicitud</servlet-name>
        <servlet-class>Negocio.CompletaSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearMaterial</servlet-name>
        <servlet-class>Negocio.CrearMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearPaquete</servlet-name>
        <servlet-class>Negocio.CrearPaquete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUser</servlet-name>
        <servlet-class>Negocio.CrearUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPrecio</servlet-name>
        <servlet-class>Negocio.GetPrecio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresaAntecedentes</servlet-name>
        <servlet-class>Negocio.IngresaAntecedentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Negocio.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaMaterial</servlet-name>
        <servlet-class>Negocio.ModificaMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaPaquete</servlet-name>
        <servlet-class>Negocio.ModificaPaquete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaUser</servlet-name>
        <servlet-class>Negocio.ModificaUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistraCliente</servlet-name>
        <servlet-class>Negocio.RegistraCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistraDetalle</servlet-name>
        <servlet-class>Negocio.RegistraDetalle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reprobar</servlet-name>
        <servlet-class>Negocio.Reprobar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitarVisita</servlet-name>
        <servlet-class>Negocio.SolicitarVisita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarUser</servlet-name>
        <servlet-class>Negocio.ValidarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearDepartamento</servlet-name>
        <servlet-class>Negocio.CrearDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servdepto</servlet-name>
        <servlet-class>Servlets.Servdepto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaDepartamento</servlet-name>
        <servlet-class>Servlets.ModificaDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaReserva</servlet-name>
        <servlet-class>Servlets.NuevaReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servdeptoadmin</servlet-name>
        <servlet-class>Servlets.Servdeptoadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Srvinventario</servlet-name>
        <servlet-class>Servlets.Srvinventario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscadorReserva</servlet-name>
        <servlet-class>Servlets.BuscadorReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Servlets.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crearlocalidad</servlet-name>
        <servlet-class>Servlets.Crearlocalidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarReserva</servlet-name>
        <servlet-class>Servlets.BuscarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarDepartamento</servlet-name>
        <servlet-class>Servlets.BuscarDepartamento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgendarNueva</servlet-name>
        <url-pattern>/AgendarNueva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aprobar</servlet-name>
        <url-pattern>/Aprobar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletaSolicitud</servlet-name>
        <url-pattern>/CompletaSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearMaterial</servlet-name>
        <url-pattern>/CrearMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearPaquete</servlet-name>
        <url-pattern>/CrearPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUser</servlet-name>
        <url-pattern>/CrearUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPrecio</servlet-name>
        <url-pattern>/GetPrecio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresaAntecedentes</servlet-name>
        <url-pattern>/IngresaAntecedentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaMaterial</servlet-name>
        <url-pattern>/ModificaMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaPaquete</servlet-name>
        <url-pattern>/ModificaPaquete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaUser</servlet-name>
        <url-pattern>/ModificaUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistraCliente</servlet-name>
        <url-pattern>/RegistraCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistraDetalle</servlet-name>
        <url-pattern>/RegistraDetalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reprobar</servlet-name>
        <url-pattern>/Reprobar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitarVisita</servlet-name>
        <url-pattern>/SolicitarVisita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarUser</servlet-name>
        <url-pattern>/ValidarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearDepartamento</servlet-name>
        <url-pattern>/CrearDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servdepto</servlet-name>
        <url-pattern>/Servdepto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaDepartamento</servlet-name>
        <url-pattern>/ModificaDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaReserva</servlet-name>
        <url-pattern>/NuevaReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servdeptoadmin</servlet-name>
        <url-pattern>/Servdeptoadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Srvinventario</servlet-name>
        <url-pattern>/Srvinventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscadorReserva</servlet-name>
        <url-pattern>/BuscadorReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crearlocalidad</servlet-name>
        <url-pattern>/Crearlocalidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarReserva</servlet-name>
        <url-pattern>/BuscarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarDepartamento</servlet-name>
        <url-pattern>/BuscarDepartamento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
